*
{
    margin: 0;
    padding: 0;
}
@font-face
{
    font-family: 'hand';
    src: url('../fonts/Papernotes.ttf') format('opentype');
}
html
{
    background-color: #F8D7C6;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.align
{
    display: flex;
    align-items: center;
}
#paper
{
    position: relative;
    z-index: 0;
    width: 54mm;
    height: 86mm;
    background-color: #e7e7e7;
    border-radius: 1mm;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 1px 1px 1px rgba(99, 99, 99, 0.2);
    overflow: hidden;
    pointer-events: none;
    -webkit-user-select:none;
    user-select:none;
    visibility: hidden;
}
#content
{
    width: 100%;
    height: 73mm;
    display: flex;
    justify-content: center;
    box-shadow: 0px 1px 3px 0px rgba(99, 99, 99, 0.2);
}
#box
{
    width: 46mm;
    height: 62mm;
    margin-top: 7mm;
    box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}
#photo
{
    position: relative;
    z-index: -1;
    width: 100%;
    height: 100%;
}
#note
{
    width: 100%;
    height: 13mm;
    background-color: #ededed6e;
    justify-content: center;
}
#box2
{
    width: 46mm;
    height: 10mm;
    justify-content: center;
    justify-content: space-between;
}
#box2 svg
{
    /* opacity: 0.8; */
    opacity: 0.3;
}
#day
{
    font-family: 'hand';
    /* opacity: 0.6; */
    opacity: 0.3;
}