*
{
    margin: 0;
    padding: 0;
}
@font-face
{
    font-family:'hand';
    src: url('../fonts/Papernotes.ttf') format('opentype');
}
html
{
    background-color: #F8D7C6;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.align
{
    display: flex;
    align-items: center;
}
#wrapper
{
    visibility: hidden;
    position: relative;
    width: 197px;
    height: 313px;
    /* width: 54mm;
    height: 86mm; */
    pointer-events: none;
    -webkit-user-select:none;
    user-select:none;
    box-shadow: 0px 1px 1px 1px rgba(99, 99, 99, 0.2);
}
#frame
{
    position: absolute;
    width: 100%;
    height: 100%;
}
#photo
{
    position: absolute;
    width: 176px;
    height: 232px;
    /* width: 46mm;
    height: 62mm; */
    padding-top: 27px;
    padding-left: 12px;

}
#bottom
{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 11mm;
}
#stickers
{
    position: absolute;
    left: 14px;
    padding-top: 5px;
}
#stickers img
{
    width: 8mm;
    height: 8mm;
}
#day
{
    position: absolute;
    font-family: 'hand';
    right: 10px;
    opacity: 0.6;
}