*
{
    margin: 0;
    padding: 0;
}
html
{
    background-color: #F8D7C6;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.align
{
    display: flex;
    align-items: center;
}
#paper
{
    position: relative;
    z-index: 0;
    width: 54mm;
    height: 86mm;
    background-color: #e7e7e7;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 1px 1px 1px rgba(99, 99, 99, 0.2);
    overflow: hidden;
    pointer-events: none;
    -webkit-user-select:none;
    user-select:none;
    visibility: hidden;
}
#content
{
    width: 100%;
    height: 73mm;
    display: flex;
    justify-content: center;
    box-shadow: 0px 1px 3px 0px rgba(99, 99, 99, 0.2);
}
#box
{
    width: 46mm;
    height: 62mm;
    margin-top: 7mm;
    box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}
#photo
{
    position: relative;
    z-index: -1;
    width: 100%;
    height: 100%;
}
#note
{
    width: 100%;
    height: 13mm;
    background-color: #ededed6e;
    justify-content: space-around;

    line-height: 22px;
}
#left
{
    opacity: 0.7;
}
#right
{
    opacity: 0.5;
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-family: 'Arial', sans-serif; */
}
#day
{
    /* font-size: 18px; */
}