*
{
    margin: 0;
    padding: 0;
}
html
{
    background-color: #F8D7C6;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.align
{
    display: flex;
    align-items: center;
}
#paper
{
    /* width: 204.09px;
    height: 325.04px; */
    width: 54mm;
    height: 86mm;
    background-color: #e7e7e7;
    border-radius: 5px;
    flex-direction: column;
    box-shadow: 0px 1px 1px 1px rgba(99, 99, 99, 0.3);
    overflow: hidden;
}
#photo
{
    /* width: 173.86px;
    height: 234.33px; */
    width: 46mm;
    height: 62mm;
    margin-top: 7mm;
    background: url("../asset/photo.jpg");
    background-size:cover;
    box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.3) ;
}
#note
{
    width: 100%;
    height: 14mm;
    background-color: #ededed;
    justify-content: space-around;
    margin-top: 3mm;
    opacity: 0.6;
    font-family: 'Courier New', Courier, monospace;
}
#right
{
    height: 22px;
}
#day
{
    height: 22px;
    font-size: 20px;
}