*
{
    margin: 0;
    padding: 0;
}
html
{
    background-color: #F8D7C6;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#paper
{
    /* width: 204.09px;
    height: 325.04px; */
    width: 54mm;
    height: 86mm;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.2);
}
#photo
{
    /* width: 173.86px;
    height: 234.33px; */
    width: 46mm;
    height: 62mm;
    margin-top: 7mm;
    /* background: url("/asset/photo.jpg");
    background-size:cover; */
    /* box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px 0px inset; */
}
/* #photo img
{
    width: 100%;
    height: 100%;
} */
#photo img
{
    width: 46mm;
    height: 62mm;
}
/* #photo img::after
{
    content: "";
    width: 100%;
    height: 100%;

    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px 0px inset;

} */
#note
{
    position: absolute;
    
}