*
{
    margin: 0;
    padding: 0;
}
html
{
    background-color: #F8D7C6;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.align
{
    display: flex;
    align-items: center;
}
#paper
{
    position: relative;
    z-index: 0;
    width: 54mm;
    height: 86mm;
    background-color: #e7e7e7;
    border-radius: 5px;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 1px 1px 1px rgba(99, 99, 99, 0.3);
    overflow: hidden;
    pointer-events: none;
    user-select:none;
    visibility: hidden;
}
#box
{
    width: 46mm;
    height: 62mm;
    margin-top: 7mm;
    box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
}
#photo
{
    position: relative;
    z-index: -1;
    width: 100%;
    height: 100%;
    /* background: url("../asset/photo.jpg");
    background-size:cover; */
}
#note
{
    width: 100%;
    height: 13mm;
    background-color: #ededed;
    justify-content: space-around;
    opacity: 0.6;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 0px 0px 1px 0px rgba(99, 99, 99, 0.1);
}
#right
{
    height: 22px;
}
#day
{
    height: 22px;
    font-size: 20px;
}